{% extends 'base.html.twig' %}

{% block title %}Paris ticket - paiement effectué{% endblock %}

{% block body %}
    <div class="">
        <p>Votre paiement a bien été enregistré.</p>
        <p>Merci de votre confiance.</p>
    </div>
{% endblock %}
    <script>
        document.cookie="cart=[]; path=/";
    </script>
