{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block H1 %}<h1 id="titre">Paiement</h1>{% endblock %}
{% block content %}
    <div class="text-center">
        <p class="color-red p-mini margin-top-20px margin-bottom-50px">Toutes nos transactions sont sécurisées et chiffrées</p>
    </div>

    <div class="flex-column">
        <div class="section-payement-methode">
            <div class="section-content-payement">
                <form class="form-paiement" action="">
                    <input id="iban" type="tel" maxlength="19" pattern="\d*" placeholder="Numéro de carte" required>
                    <input type="text" oninput="this.value = this.value.toUpperCase()" placeholder="Nom du propriétaire" required>
                    <div class="flex-space-between">
                        <input type="month" placeholder="Date d'expiration" required>
                        <input type="tel" maxlength="3" placeholder="CVC" required>
                    </div>
                </form>
            </div>
            <div class="flex-center">
                <a class="bouton-commander text-center" href="{{ path('app_paiement_effectue') }}">valider ma commande</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts2 %}
    <script>
        document.getElementById('iban').addEventListener('input', function (e) {
            e.target.value = e.target.value.replace(/[^\dA-Z]/g, '').replace(/(.{4})/g, '$1 ').trim();
        });
    </script>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('js/panier.js') }}"></script>
{% endblock %}