.card{
    display: flex;
    align-items: center;
    width: 900px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 10px 2px #9c9c9c3c;
    border-radius: 30px;
}

.cardlist{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding-top: 30px;
    padding: 20px;
}

.card img{
    width: 120px;
    padding-left: 30px;
}

.textcard{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 10px;
}

.titremanif{
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.lieumanif{
    font-size: 15px;
}

.prixmanif{
    font-weight: bold;
}

.bouton{
    left: 8px;
    text-align: center;
    position: relative;
    width: 142px;
    top: 66px;
    background-color: rgb(255, 255, 255);
    height: 20px;
    padding: 1px;
    border-radius: 20px;
    text-decoration: none;
    border: black solid 1px;
    font-weight: bold;
    color: black;
}

.bouton:hover{
    background-color: #FFCC04;
    transition: 0.3s ;
}

.genre{
    background-color: #FFCC04;
    width: 115px;
    justify-content: center;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 18px;
    position: relative;
    top: -70px;
    left: 416px;
}

@media (max-width: 710px) {

    .card{
        height: 250px;
    }

    .bouton{
        left:-25px;
        width: 200px;
    }

    .genre{
        width: 150px;
        left: 70px;
    }
}
