{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div id="mon-profil">
        <div class="flex-space-between margin-profil">
            <div class="flex">
                <h2>Mon compte</h2>
            </div>
        </div>
        <div class="">
            <p class="p-info">Prénom : {{ user.prenom }}</p>
            <p class="p-info">Nom : {{ user.nom }}</p>
            <p class="p-info">Email : {{ user.email }}</p>
            <p class="p-info">Mot de passe : *</p>
        </div>
        <a class="" href="">Mon historique de commande</a>
    </div>
{% endblock %}
