<a href="accueil">Accueil</a>
<a href="manifs">Evenements</a>

{% if is_granted('ROLE_ADMIN') %}
    <a href="admin">Admin</a>
{% endif %}


{% if app.user %}
    <a href="logout">Deconnexion</a>
    <a href="commandes">Mes commandes</a>
    <a href="compte">Mon compte</a>
    <a href="panier">Mon panier</a>
{% else %}
    <a href="login">Connexion</a>
    <a href="register">Inscription</a>
{% endif %}